body {
	font-family: Arial;
	padding: 0;
	margin: 0;
}

.wrapper {
	margin: 0 6%;
}
.nav {
	background-color: #FFB4B0;
	border: 2px solid black;
	height: 4em;
	vertical-align: middle;
	margin-top: 5%;
	margin-bottom: 2%;
}

.nav  li {
    float: left;
    list-style-type: none;

}
.songs {
	color: #785616;
	float: right;
	padding: 4%;
	background-color: #FEFAC0;
	border: 2px solid black;
	width: 60%;
}



.song header {
	font-size: 1.5em;
}

ul.song--info {
	margin-left: 0;
  height: 2em;
  padding: 0;
}

.song--info li {
	float: left;
	list-style-type: none;
}

.view--music ~ li {
	border-left: 2px solid black;
	padding-left: 10px;
	margin-left: 10px;
}

.artist--name ~ li {
	border-left: 2px solid #785616;
	margin-left: 2%;
	padding-left: 2%;
}

.clear {
	clear:both;
}
.filter {
	background-color: #4DD7FA;
	padding: 1%;
	float: left;
	border: 2px solid black;
	width: 28%;
}

.filter--button{
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	float: none;
	border-radius: 5px;
	background-color: #eee;
}

.filter--button:hover {
	background-color: #fff;
}

.filter--item{
	margin-bottom: 7%;
}

.genre--col--left {
	float: left;
	width: 45%;
	margin: 2.5%;
}

.genre--col2--right {
	float:right;
	width: 45%;
	margin: 2.5%;
}

