body {
	font-family: Arial;
	width: 90%;
	margin: auto;
}

.wrapper {
	margin: 0 2.5%;
}
.nav {
	background-color: #FFB4B0;
	border: 2px solid black;
	height: 4em;
	vertical-align: middle;
	margin: 5% 0;

}

.nav  li {
    float: left;
    list-style-type: none;

}

.view--music ~ li {
	border-left: 2px solid black;
}

.filter {
	background-color: #4DD7FA;
	padding: 1%;
	float: left;
	border: 2px solid black;
	width: 25%;
}

