body {
	font-family: Arial;
	padding: 0;
	margin: 0;
}

.wrapper {
	margin: 0 6%;
}
.nav {
	background-color: #FFB4B0;
	border: 2px solid black;
	height: 4em;
	vertical-align: middle;
	margin-top: 5%;
	margin-bottom: 2%;
}

.nav  li {
    float: left;
    list-style-type: none;

}

.view--music ~ li {
	border-left: 2px solid black;
}

.filter {
	background-color: #4DD7FA;
	padding: 1%;
	float: left;
	border: 2px solid black;
	width: 28%;
}

.filter--button{
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	float: none;
	border-radius: 10px;
	background-color: #eee;
}

.filter--item{
	margin-bottom: 7%;
}

.song {
	font-size: 1.2em;

}

.songs {
	color: #785616;
	float: right;
	padding: 1%;
	background-color: #FEFAC0;
	border: 2px solid black;
	width: 65%;
}